{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>

	<!-- Stylesheets -->
	<link href="{% static 'custom/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'custom/css/custom.css' %}" rel="stylesheet">


	<link rel="shortcut icon" href="{% static 'images/fevicon01.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/fevicon01.png' %}" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]>
	<script src="static 'custom/js/respond.js'"></script><![endif]-->

</head>

<body data-anm=".anm">
	{% include 'header.html' %}
	<div class="page-wrapper">
		{% block content %}{% endblock %}
	</div>
	{% include 'footer.html' %}

<!-- End Main Footer -->
<script src="{% static 'custom/js/jquery.js' %}"></script>
<script src="{% static 'custom/js/popper.min.js %'}"></script>
<script src="{% static 'custom/js/chosen.min.js %'}"></script>
<script src="{% static 'custom/js/bootstrap.min.js %'}"></script>
<script src="{% static 'custom/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'custom/js/jquery.modal.min.js' %}"></script>
<script src="{% static 'custom/js/mmenu.polyfills.js' %}"></script>
<script src="{% static 'custom/js/mmenu.js %'}"></script>
<script src="{% static 'custom/js/appear.js' %}"></script>
<script src="{% static 'custom/js/anm.min.js' %}"></script>
<script src="{% static 'custom/js/ScrollMagic.min.js' %}"></script>
<script src="{% static 'custom/js/rellax.min.js' %}"></script>
<script src="{% static 'custom/js/owl.js' %}"></script>
<script src="{% static 'custom/js/wow.js' %}"></script>
<script src="{% static 'custom/js/script.js' %}"></script>

</body>


</html>