{% load static %}
<!-- Main Header-->
<header class="main-header">

	<!-- Main box -->
	<div class="main-box">
		<!--Nav Outer -->
		<div class="nav-outer">
			<div class="logo-box">
				<div class="logo">
					<a href="index.html"><img style="height: 40px;" src="{% static 'images/logo01.png' %}" alt=""
											  title=""></a>
				</div>
			</div>

			<nav class="navbar">
				<ul class="menu">
					<li class="menu-item dropdown">
						<a href="#">LEARNING</a>
						<div class="dropdown-menu">
							<a href="#">Pre K</a>
							<a href="#">Kindergarten</a>
							<a href="#">First Grade</a>
						</div>
					</li>
					<li class="menu-item dropdown">
						<a href="#">SUBJECT</a>
						<div class="dropdown-menu">
							<a href="#">Math</a>
							<a href="#">Science</a>
							<a href="#">English</a>
						</div>
					</li>
					<li class="menu-item">
						<a href="#">ASSESSMENT</a>
					</li>
				</ul>
			</nav>
			<!-- Main Menu End-->
		</div>

		<div class="outer-box">


			<!-- Login/Register -->
			<div class="btn-box">
				<a href="login-popup.html" class="theme-btn btn-style-six call-modal"
				   style="color: black; font-size:18px">Login</a>
				<a href="login-popup.html" class="theme-btn btn-style-six call-modal"
				   style="color: black; font-size:18px">Signup</a>
				<!-- <a href="dashboard-post-job.html" class="theme-btn btn-style-two"><span class="btn-title">Signup</span></a> -->
			</div>
		</div>
	</div>

	<!-- Mobile Header -->
	<div class="mobile-header">
		<div class="logo"><a href="index.html"><img src="{% static 'images/logo01.png' %}" alt="" title=""></a>
		</div>
		<!--Nav Box-->
		<div class="nav-outer clearfix">
			<div class="outer-box">
				<!-- Login/Register -->
				<div class="login-box">
					<a href="login-popup.html" class="call-modal"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
				</div>
				<a href="#nav-mobile" class="mobile-nav-toggler"><i class="fa fa-bars" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>

	<!-- Mobile Nav -->
	<div id="nav-mobile"></div>
</header>
<!--End Main Header -->